<p id="notice"><%= notice %></p>

<h1>Incident Reports</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Street number</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Lattitude</th>
      <th>Longitude</th>
      <th>Occurred on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_reports.each do |incident_report| %>
      <tr>
        <td><%= incident_report.category %></td>
        <td><%= incident_report.street_number %></td>
        <td><%= incident_report.street %></td>
        <td><%= incident_report.city %></td>
        <td><%= incident_report.state %></td>
        <td><%= incident_report.zip %></td>
        <td><%= incident_report.country %></td>
        <td><%= incident_report.lattitude %></td>
        <td><%= incident_report.longitude %></td>
        <td><%= incident_report.occurred_on %></td>
        <td><%= link_to 'Show', incident_report %></td>
        <td><%= link_to 'Edit', edit_incident_report_path(incident_report) %></td>
        <td><%= link_to 'Destroy', incident_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident Report', new_incident_report_path %>
